*{
    text-align: center;
}
body{
    background-color: wheat;
}
button{
    height: 50px;
    width: 300px;
    color: white;
    font-weight: 600;
    font-size: x-large;
    background-color: rgb(81, 73, 84);
    margin-top: 50px;

}
.gameNav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.startBtn{
    opacity: 0;
    
}
.restartBtn{
    opacity: 0;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 5px solid black;
    margin:0.5rem;
    margin-right: 1px;
    

}
.btn1{
    background-color: red;
    
}
.btn2{
    background-color: green;
}
.btn3{
    background-color: blue;
}
.btn4{
    background-color: yellow;
}
.btnContainer{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    
    /* flex-direction: column; */
}
.flash{
    background-color: white;
}
.userflash{
    background-color: rgb(0, 0, 0) ;
}

.lost{
    background-color: red;
}